.shift-report-header {
  margin-top: 10px;
  width: 100%;
  font-size: 12px;
}

.header {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid black;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.shift-title {
  color: orange;
  font-size: 22px;
  font-weight: 100;
  margin: 0;
}

.logo {
  height: 40px;
  width: auto;
}

